/*Apartado de login*/
.login{
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form { 
    font-family: "Arial Rounded MT", sans-serif; 
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input{
    font-family: "Arial Rounded MT", sans-serif; 
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button{
    font-family: "Arial Rounded MT", sans-serif; 
    outline: 0;
    background: darkgreen;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

/*Apartado de log out*/
.boton-logout a{
    position: absolute;
    font-family: "Arial Rounded MT", sans-serif; 
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: transparent;
    color: rgb(25, 109, 25);
    border: 3px solid darkgreen;
    border-radius: 8px;
    text-decoration:none;
    font-weight: bold;
}

/*Titulos cabecera*/
h1{
    width: 600px;
    margin-left: 32%;
    margin-right: 40%;
    font-family: "Arial Rounded MT", sans-serif; 
}
h2{
    width: 400px;
    margin-left: 40%;
    margin-right: 35%;
    font-family: "Arial Rounded MT", sans-serif; 
}

/*Titulos inicio*/
h3{
    width: 600px;
    margin-left: 40%;
    margin-right: 50%;
    font-family: "Arial Rounded MT", sans-serif; 
  }
h4{
    width: 400px;
    margin-left: 45%;
    margin-right: 35%;
    font-family: "Arial Rounded MT", sans-serif; 
  }

/*Barra de navegación*/
.header{
    font-family: "Arial Rounded MT", sans-serif; 
    width: 100%;
    position: fixed; /*que siempre lo muestre*/
    z-index: 100;
}
nav{
    float: center;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    background: beige; 
    font-size: 20px;
}
nav ul li a{
    display: block;
    padding: 20px;
    text-decoration:none;
    color: black;
    font-family: "Arial Rounded MT", sans-serif; 
}
nav ul li:hover{
    background:  #778c43;
}