<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="style/estilo.css" type="text/css">

<body>
  <!--Lo que está en el body su lo va a ver el usuario en la web-->
    <img src="img/logo.png" style="width: 100px; display: block; margin: 0 auto;" id="imagenLogo">


    <h1> mediFore: Medicina Interna</h1>
    <h2> Consulta médica</h2>

    <div class = "boton-logout">
            <a href = "/opt/lampp/htdocs/TFG/logout.php">Cerrar sesión</a>
    </div>

    <!--Configuro la barra de navegación -->
    <header>
      <nav> 
        <ul>
          <li>
            <a class="nav-link" href="/opt/lampp/htdocs/TFG/inicio.php">Inicio </a>
          </li>
          <li>
            <a class="nav-link" href="personalMedico.php">Datos personales médico</a>
          </li>
          <li>
            <a class="nav-link" href="medicosPaciente.html">Datos pacientes</a>
          </li>
          <li>
            <a class="nav-link" href="personalPaciente.php">Datos personales pacientes</a>
          </li>
          <li>
            <a class="nav-link" href="informes.php">Informes</a>
          </li>
          <li>
            <a class="nav-link" href="calendario.php">Calendario</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="clearfix"></div>

  <main>