{% extends "padre.html" %}
    {% block central %}
<form action="editarMedico.php?medico={{medico.username}}" method="post">
    <div class="editarMedico">

        <img src="img/volver.png" style="width: 40px; display: block; margin-top: 0%; margin-left: 0%;" id="volver"
        onclick="window.location.href='personalPaciente.php'">


        <h1>Nombre del médico : {{medico.nombre}} {{medico.apellidos}}</h1> 
        
        <div class="contenedor-datos">
            <label for="telefono" class = "tituloCaja2">Teléfono:</label>
            <input class = "caja2" type="text"  value="{{medico.telefono}}"  name="telefono" required>
        </div> 
        <div class="contenedor-datos">
            <label for="direccion" class = "tituloCaja3">Dirección:</label>
            <input class = "caja3" type="text"  value="{{medico.direccion}}"  name="direccion" required>
        </div>
        <div class="contenedor-datos">
            <label for="especialidad" class = "tituloCaja6">Especialidad:</label>
            <input class = "caja6" type="text"  value="{{medico.especialidad}}"  name="especialidad" required>
        </div>
        <p>
            {% for e in errores %}
                <p>{{e}}</p>
            {% endfor %}
        </p>

        <div class="botonesPP">  
            <div class="botonLado1">  
                <button type="submit" class="boton loginbtn"><b>Editar datos</b></button>
            </div>
        </div> 
</form>
{% endblock %}