{% extends "padre.html" %}
    {% block central %}
        <form action="personalMedico.php?nombre={{username}}" method="post">
            <div class="centro"> 
                <h1>Datos personales del médico</h1>
                <label for="id" class="tituloCaja1"><span class="titulo-negrita">Nombre:</span> {{personalMedico.nombre}}</label>
                <label for="id" class="tituloCaja2"><span class="titulo-negrita">Apellidos:</span> {{personalMedico.apellidos}}</label>
                <label for="id" class="tituloCaja3"><span class="titulo-negrita">Teléfono:</span> {{personalMedico.telefono}}</label>
                <label for="id" class="tituloCaja5"><span class="titulo-negrita">Nº Colegiado:</span> {{personalMedico.numCol}}</label>
                <label for="id" class="tituloCaja6"><span class="titulo-negrita">Dirección:</span> {{personalMedico.direccion}}</label>
                <label for="id" class="tituloCaja7"><span class="titulo-negrita">Especialidad:</span> {{personalMedico.especialidad}}</label>
            </div>
            <div class = "botonesPP">
                <div class="botonLado1">
                    <a  href= "editarMedico.php">Editar datos</a>
                </div>
            </div>
      </form>
    {% endblock %}
 
