{% extends "padre.html" %}
    {% block central %}
        <form action="revision.php?paciente={{paciente.dni}}" method="post">
            <div class="centro"> 

                <img src="img/volver.png" style="width: 40px; display: block; margin-top: 0%; margin-left: 0%;" id="volver"
                onclick="window.location.href='medicoPaciente.php'">

                <h1>Revisión final del paciente:</h1>
                {{paciente.dni}} 
                <div class="contenedor-datos">
                    <textarea class = "cuadroEvolucion"  wrap="hard"  name="evolucion" >{{paciente.evolucion}}</textarea>
                </div>

                <p>
                    <button type="submit" class="boton signupbtn">Guardar evolución</button>
                </p>
                
            </div>
      </form>
      {% endblock %}
